---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app sdnext
  namespace: flux-system
spec:
  targetNamespace: &namespace ai
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: intel-device-plugins-gpu
      namespace: system
    - name: democratic-csi
      namespace: storage
    - name: volsync
      namespace: system
    - name: rook-ceph-cluster
      namespace: rook-ceph
  path: ./kubernetes/apps/ai/sdnext/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CLAIM: sdnext-config
      VOLSYNC_REPOSITORY_NAMESPACE: *namespace
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 30m
  timeout: 5m
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
