---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name alertmanager-secret
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao-cluster-secretstore
  target:
    name: *name
    creationPolicy: Owner
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        ALERTMANAGER_HEALTHCHECKSIO_URL: "{{ .ALERTMANAGER_HEALTHCHECKSIO_URL }}"
        PUSHOVER_ALERTMANAGER_TOKEN: "{{ .PUSHOVER_ALERTMANAGER_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
  dataFrom:
    - extract:
        key: /healthchecks
