---
# yaml-language-server: $schema=https://k8s-schemas.bjw-s.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret gluetun-secret
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao-cluster-secretstore
  target:
    name: *secret
    creationPolicy: Owner
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        DOT: "off"
        FIREWALL_INPUT_PORTS: "8080,8388,8888,9999"
        FIREWALL_OUTBOUND_SUBNETS: "10.168.0.0/16,10.42.0.0/16"
        HEALTH_SERVER_ADDRESS: ":9999"
        HTTPPROXY_LISTENING_ADDRESS: ":8888"
        HTTPPROXY_LOG: "on"
        HTTPPROXY: "on"
        SERVER_COUNTRIES: "{{ .server_countries }}"
        VPN_INTERFACE: "wg0"
        VPN_SERVICE_PROVIDER: "{{ .vpn_service_provider }}"
        VPN_TYPE: "wireguard"
        WIREGUARD_PRIVATE_KEY: "{{ .wireguard_private_key }}"
        WIREGUARD_PRESHARED_KEY: "{{ .wireguard_preshared_key }}"
        WIREGUARD_ADDRESSES: "{{ .wireguard_addresses }}"
  data:
    - secretKey: vpn_service_provider
      remoteRef:
        key: network/gluetun/config
        property: provider
    - secretKey: server_countries
      remoteRef:
        key: network/gluetun/config
        property: server_countries

    - secretKey: wireguard_private_key
      remoteRef:
        key: network/gluetun/config
        property: wireguard_private_key
    - secretKey: wireguard_preshared_key
      remoteRef:
        key: network/gluetun/config
        property: wireguard_preshared_key
    - secretKey: wireguard_addresses
      remoteRef:
        key: network/gluetun/config
        property: wireguard_addresses
