---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            fsGroup: 1001
            supplementalGroups: [568]
            fsGroupChangePolicy: "OnRootMismatch"
            seccompProfile:
              type: RuntimeDefault

        containers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045

            securityContext:
              privileged: true
              runAsUser: 0
              runAsGroup: 0
              runAsNonRoot: false
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
                add:
                  - NET_ADMIN

            env:
              TZ: ${TIMEZONE}
            envFrom:
              - secretRef:
                  name: gluetun-secret

          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4

            dependsOn:
              - gluetun

            env:
              QBT_WEBUI_PORT: &webPort 8080
              QBT_TORRENTING_PORT: &torrentPort 53712

              # QBT_PREFERENCES__WEBUI__ALTERNATIVEUIENABLED: "false"
              # QBT_PREFERENCES__WEBUI__AUTHSUBNETWHITELISTENABLED: "true"
              # QBT_PREFERENCES__WEBUI__AUTHSUBNETWHITELIST: "10.168.0.0/16"
              # QBT_PREFERENCES__WEBUI__LOCALHOSTAUTH: "false"

              # QBT_PREFERENCES__BITTORRENT__SESSION__INTERFACE: "eth0"
              # QBT_PREFERENCES__BITTORRENT__SESSION__INTERFACENAME: "eth0"

            nameOverride: *app

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 200m
                memory: 2Gi
              limits:
                memory: 10Gi

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
              runAsGroup: 1001
              runAsNonRoot: true
              runAsUser: 1001

    service:
      app:
        controller: *app
        ports:
          http:
            port: *webPort
        primary: true

      # torrents:
      #   controller: *app
      #   type: LoadBalancer
      #   annotations:
      #     io.cilium/lb-ipam-ips: "10.168.2.105"
      #   externalTrafficPolicy: Local
      #   ports:
      #     bittorrent-tcp:
      #       port: *torrentPort
      #       protocol: TCP
      #     bittorrent-udp:
      #       port: *torrentPort
      #       protocol: UDP

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          qbittorrent:
            app:
              - path: /config

      downloads:
        type: nfs
        path: "/mnt/${SECRET_NFS_SHARE}/media/downloads/torrents"
        server: "${SECRET_NFS_SERVER}"
        globalMounts:
          - path: /data/media/downloads/torrents

      qbrr:
        type: image
        image: ghcr.io/buroa/qbrr:0.1.3@sha256:b88f45657fd0cbfdf375e6a1e5ba24c8085d14f35116a8631e8b4d4694dd6370

      tmp:
        type: emptyDir

      # tun:
      #   type: hostPath
      #   hostPath: /dev/net/tun
      #   hostPathType: CharDevice
      #   advancedMounts:
      #     qbittorrent:
      #       gluetun:
      #         - path: /dev/net/tun

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *webPort
