---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ebookshelf
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  driftDetection:
    mode: enabled
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      ebookshelf:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030

            env:
              INIT_POSTGRES_SUPER_PASS:
                valueFrom:
                  secretKeyRef:
                    name: downloads-postgres-superuser
                    key: password

            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"

        containers:
          ebookshelf:
            image:
              repository: ghcr.io/pennydreadful/bookshelf
              tag: hardcover-v0.4.20.107@sha256:d53f1cd8b029c4d2187826fdba87280f95133182a64b97a01f2e9382896f3108
            command: ["/usr/bin/catatonit", "--", "/entrypoint.sh"]

            env:
              READARR__APP__INSTANCENAME: eBookshelf
              READARR__AUTH__METHOD: External
              READARR__AUTH__REQUIRED: DisabledForLocalAddresses
              READARR__LOG__DBENABLED: "False"

            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"

            ports:
              - containerPort: &port 8787
                name: http

            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
              readiness: *probe

            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 568

    service:
      ebookshelf:
        controller: *app
        ports:
          ebookshelf:
            port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}-config"

      entrypoint:
        type: configMap
        name: volsync-ebookshelf-entrypoint
        defaultMode: 0755
        advancedMounts:
          ebookshelf:
            ebookshelf:
              - path: /entrypoint.sh
                subPath: entrypoint.sh
                readOnly: true

      media:
        type: nfs
        path: "/mnt/${SECRET_NFS_SHARE}/media"
        server: "${SECRET_NFS_SERVER}"
        globalMounts:
          - path: /data/media

      run:
        type: emptyDir
        medium: Memory
      tmp:
        type: emptyDir

    route:
      ebookshelf:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: *app
                port: *port
