---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app linkwarden
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      linkwarden:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/linkwarden/linkwarden
              tag: v2.13.1@sha256:54271afa4fc34107f98d9ba580e320e3bd5b3e02339f7d68947d01a375ea7bb3
              pullPolicy: IfNotPresent

            env:
              TZ: "${TIMEZONE}"
              NEXT_PUBLIC_DISABLE_REGISTRATION: true
              PAGINATION_TAKE_COUNT: 20
              AUTOSCROLL_TIMEOUT: 30
              STORAGE_FOLDER: "config"
              HOME: /data/config

              NEXT_PUBLIC_OLLAMA_ENDPOINT_URL: http://ollama.ai.svc.cluster.local:11434
              OLLAMA_MODEL: qwen3:8b

              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: linkwarden-postgres-app
                    key: uri

            envFrom:
              - secretRef:
                  name: linkwarden-secret

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true

            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 1Gi

          browser:
            securityContext:
              runAsUser: 999
              runAsGroup: 990
              runAsNonRoot: true

            image:
              repository: ghcr.io/browserless/chromium
              tag: v2.38.2@sha256:d5583d92f135c541667fca63bc7210cf51122c1317335374aa64b191fbaa0ef2
              pullPolicy: IfNotPresent

            env:
              - { name: CONCURRENT, value: "5" }
              - { name: TIMEOUT, value: "300000" }
              - { name: PORT, value: "3001" }
              - name: TOKEN
                valueFrom:
                  secretKeyRef:
                    name: linkwarden-secret
                    key: browserless_token

            resources:
              requests:
                cpu: 10m
                memory: 1Gi
              limits:
                memory: 4Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 3000

    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 100Gi
        storageClass: truenas-iscsi
        advancedMounts:
          linkwarden:
            app:
              - path: /data/config
                subPath: linkwarden
              - path: /data/apps/web/.next/cache
                subPath: linkwarden_cache
              - path: /data/config/.cache
                subPath: linkwarden_npm_cache
            browser:
              - path: /profile
                subPath: chrome

      next-cache:
        enabled: true
        type: emptyDir
        advancedMounts:
          linkwarden:
            app:
              - path: /tmp

      browser-tmp:
        type: emptyDir
        advancedMounts:
          linkwarden:
            browser:
              - path: /tmp
              - path: /dev/shm

    route:
      app:
        hostnames:
          - "linkwarden.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
