---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app manyfold
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  install:
      remediation:
        retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      manyfold:
        forceRename: *app
        annotations:
          secret.reloader.stakater.com/reload: manyfold-secret

        pod:
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
            fsGroup: 1001
            fsGroupChangePolicy: "OnRootMismatch"

        initContainers:
          chown-tmpdirs:
            image:
              repository: docker.io/library/alpine
              tag: "3.23"
            command:
              - /bin/sh
              - -c
            args:
              - |
                chmod o-rwx /tmp
            securityContext:
              runAsUser: 0

        containers:
          main:
            image:
              repository: ghcr.io/bjw-s-labs/manyfold
              tag: 0.132.1@sha256:04a38be7b953c0b0bc9ff4b251a67abf12fe39e6317d6e8870bd07630798f10e
            env:
              DATABASE_ADAPTER: postgresql
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: manyfold-postgres-app
                    key: uri

              PUBLIC_HOSTNAME: "{{ .Release.Name }}.${SECRET_DOMAIN}"
              MULTIUSER: enabled
              HTTPS_ONLY: enabled
              REDIS_URL: redis://manyfold-redis.maker.svc.cluster.local:6379
              REGISTRATION: true
              SECRET_KEY_BASE:
                valueFrom:
                  secretKeyRef:
                    name: manyfold-secret
                    key: MANYFOLD_SECRET_KEY

            envFrom:
              - secretRef:
                  name: manyfold-secret

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &httpPort 3214
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            resources:
              requests:
                cpu: 20m
                memory: 128Mi
              limits:
                memory: 1536Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                add:
                  - CHOWN
                  - SETUID
                  - SETGID
                  - FOWNER
                  - DAC_OVERRIDE
                drop:
                  - ALL

      redis:
        pod:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
        strategy: RollingUpdate
        containers:
          redis:
            image:
              repository: ghcr.io/valkey-io/valkey
              tag: 9.0.2
            args:
              - --save
              - ""
              - --appendonly
              - "no"
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        forceRename: *app
        primary: true
        controller: *app
        ports:
          http:
            port: *httpPort
      redis:
        controller: redis
        ports:
          http:
            port: &port 6379

    persistence:
      database:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: ceph-block
        advancedMounts:
          manyfold:
            main:
              - path: /data/database
                subPath: database
      data:
        type: persistentVolumeClaim
        size: 20Gi
        accessMode: ReadWriteMany
        storageClass: truenas-nfs
        advancedMounts:
          manyfold:
            main:
              - path: /data/libraries
                subPath: libraries

      tmpfs:
        type: emptyDir
        advancedMounts:
          manyfold:
            main: &tmpdirs
              - path: /tmp
                subPath: host-tmp
              - path: /app/tmp
                subPath: app-tmp
              - path: /app/log
                subPath: app-log
            chown-tmpdirs: *tmpdirs

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *httpPort
