---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vaultwarden
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controllers:
      vaultwarden:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
              pullPolicy: IfNotPresent

            envFrom: &secret
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            env:
              INIT_POSTGRES_SUPER_PASS:
                valueFrom:
                  secretKeyRef:
                    name: household-postgres-superuser
                    key: password

        containers:
          app:
            image:
              repository: vaultwarden/server
              tag: 1.35.2-alpine@sha256:dc364d362273e5604b13b02059dc98d60471e885c0a831e26be6c05ed5d488d0

            env:
              DATA_FOLDER: "data"
              ICON_CACHE_FOLDER: "data/icon_cache"
              ATTACHMENTS_FOLDER: "data/attachments"
              DOMAIN: "https://{{ .Release.Name }}.${SECRET_DOMAIN}"
              TZ: "${TIMEZONE}"
              PUSH_ENABLED: 'false'
              SIGNUPS_ALLOWED: 'false'
              INVITATIONS_ALLOWED: 'false'
              ORG_EVENTS_ENABLED: 'true'
              PASSWORD_ITERATIONS: "321000"
              EVENTS_DAYS_RETAIN: "730" # organizational events, 2 yrs: 365 * 2
              WEBSOCKET_ENABLED: 'true'
              WEBSOCKET_ADDRESS: 0.0.0.0
              REQUIRE_DEVICE_EMAIL: 'true'
              SHOW_PASSWORD_HINT: 'false'

              SMTP_HOST: smtp-relay.network.svc.cluster.local
              SMTP_FROM: &smtpFrom vaultwarden@${SECRET_DOMAIN}
              SMTP_FROM_NAME: *smtpFrom
              SMTP_PORT: 25
              SMTP_SECURITY: "off"

              SSO_ENABLED: 'true'
              SSO_ONLY: 'true'
              SSO_AUTHORITY: "https://auth.${SECRET_DOMAIN}/application/o/vaultwarden/"
              SSO_SCOPES: "openid profile email offline_access"

            envFrom: *secret

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /alive
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi

          backups:
            # Restore with:
            #   gpg --decrypt backup.tar.xz.gpg > backup.tar.xz
            #   tar -xJvf ./backup/data.tar.xz -C /data/
            image:
              repository: bruceforce/vaultwarden-backup
              tag: 2.1.3@sha256:498379ab68cbd7f31a007bedbd906108c65e186d38eb8602e198d83e6616dd69

            env:
              TIMESTAMP: true
              DELETE_AFTER: 30
              CRON_TIME: "0 * * * *"
              ENCRYPTION_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-secret"
                    key: VAULTWARDEN_BACKUP_PASS

              BACKUP_DIR: '/backups'
              BACKUP_ON_STARTUP: true
              GID: 0
              UID: 0

    defaultPodOptions:
      annotations:
        secret.reloader.stakater.com/reload: *app

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}-config"
        globalMounts:
          - path: /data

      backups:
        type: nfs
        server: "${SECRET_NFS_SERVER}"
        path: "/mnt/${SECRET_NFS_SHARE}/backups/vaultwarden"
        globalMounts:
          - path: /backups

      tmp:
        type: emptyDir

    route:
      vaultwarden:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
