---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg-operator
  namespace: cnpg-system
spec:
  interval: 30m
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.27.1
      sourceRef:
        kind: HelmRepository
        name: cnpg
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    crds:
      create: true
    serviceAccount:
      create: true
    rbac:
      create: true
    monitoring:
      podMonitorEnabled: true
      grafanaDashboard:
        create: true

    config:
      data:
        INHERITED_ANNOTATIONS: "reloader.stakater.com/auto"
        INHERITED_LABELS: "kustomize.toolkit.fluxcd.io/name,kustomize.toolkit.fluxcd.io/namespace"
