---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret weechat-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao-cluster-secretstore
  target:
    name: *secret
    creationPolicy: Owner
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        RELAY_PASSWORD: "{{ .relay_password }}"
  data:
    - secretKey: relay_password
      remoteRef:
        key: household/weechat/relay
        property: password
