---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app weechat
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      weechat:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: weechat/weechat
              tag: 4.8.1-alpine@sha256:d3df8456d9f1aa6d7fe05ee1ee4f2af8006b71ef461d5d89e225361cf24d4fa1

            env:
              TZ: ${TIMEZONE}
              TERM: screen-256color
              LANG: C.UTF-8

            stdin: true
            tty: true

            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsNonRoot: true
              runAsUser: 1001
              runAsGroup: 1001
              capabilities:
                drop:
                  - ALL

        pod:
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
            fsGroup: 1001
            fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          relay:
            port: 9001
            protocol: TCP

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}-config"
        globalMounts:
          - path: /home/user/.config/weechat

      data:
        type: persistentVolumeClaim
        storageClass: truenas-iscsi
        size: 5Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /home/user/.local/share/weechat

      cache:
        type: emptyDir
        globalMounts:
          - path: /home/user/.cache/weechat
