---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app actual
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h

  install:
      remediation:
        retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      actual:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/actualbudget/actual
              tag: 25.11.0@sha256:8f72d73e68958566850325c1f9fe780a4477340979969bd6979649dc519723ab
            env:
              TZ: ${TIMEZONE}
              ACTUAL_PORT: &port 5006
              ACTUAL_TOKEN_EXPIRATION: "openid-provider"
              ACTUAL_LOGIN_METHOD: openid
              ACTUAL_ALLOWED_LOGIN_METHODS: openid
              ACTUAL_OPENID_ENFORCE: true
              ACTUAL_OPENID_AUTH_METHOD: openid
              ACTUAL_OPENID_DISCOVERY_URL: "https://auth.${SECRET_DOMAIN}/application/o/actual/.well-known/openid-configuration"
              ACTUAL_OPENID_SERVER_HOSTNAME: "https://budget.${SECRET_DOMAIN}"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 20m
                memory: 256Mi
              limits:
                memory: 512Mi

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

    defaultPodOptions:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["budget.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      config:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        name: *app
        size: 15Gi
        storageClass: ceph-block
        globalMounts:
          - path: /data


