---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret seerr-secret
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao-cluster-secretstore
  target:
    name: *secret
    creationPolicy: Owner
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        API_KEY: "{{ .seerr_api_key }}"
  data:
    - secretKey: seerr_api_key
      remoteRef:
        key: downloads/seerr/config
        property: api_key
