---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app seerr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h

  values:
    controllers:
      seerr:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/seerr-team/seerr
              tag: develop@sha256:cb93efb8344a08ecdfe13fa22c8d0a3b099cbb88754d98508d687466c6b2d71f

            env:
              LOG_LEVEL: info
              PORT: &port 5055
              TZ: ${TIMEZONE}

              DB_TYPE: postgres
              DB_HOST: seerr-postgres-rw.downloads.svc.cluster.local
              DB_PORT:
                valueFrom:
                  secretKeyRef:
                    name: seerr-postgres-app
                    key: port
              DB_NAME:
                valueFrom:
                  secretKeyRef:
                    name: seerr-postgres-app
                    key: dbname
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: seerr-postgres-app
                    key: username
              DB_PASS:
                valueFrom:
                  secretKeyRef:
                    name: seerr-postgres-app
                    key: password

            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 6
              readiness: *probes

            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: *port

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/config

      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /app/config/cache

      tmpfs:
        type: emptyDir
        advancedMounts:
          seerr:
            app:
              - path: /app/config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - "requests.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
