---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bazarr
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 30m
  values:
    controllers:
      bazarr:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            fsGroup: 1001
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 1001
            runAsNonRoot: true
            runAsUser: 1001

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/bazarr
              tag: 1.5.3

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 6767
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            resources:
              requests:
                cpu: 15m
                memory: 256Mi
              limits:
                memory: 512Mi

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        ports:
          http:
            port: *port

    persistence:
      config:
        existingClaim: bazarr-config

      media:
        type: nfs
        path: "/mnt/${SECRET_NFS_SHARE}/media"
        server: "${SECRET_NFS_SERVER}"
        globalMounts:
          - path: /data/nas-media

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
