---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  values:
    controllers:
      paperless:
        forceRename: *app
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              pullPolicy: IfNotPresent
              tag: 2.19.3@sha256:321ca858e4b6ce9dc416dbcb7c0691d545e3e9b0f44cf420f75c22098854ca25

            # Configure application
            envFrom:
              - secretRef:
                  name: paperless-secret
            env:
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: true

              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_TIME_ZONE: "${TIMEZONE}"
              PAPERLESS_PORT: &port 8000
              PAPERLESS_WEBSERVER_WORKERS: 2
              PAPERLESS_TASK_WORKERS: 2

              # Tika / Gotenberg settings
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998

              # Configure folders
              PAPERLESS_CONSUMPTION_DIR: /data/nas/incoming
              PAPERLESS_DATA_DIR: /data/local/data
              PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_MEDIA_ROOT: /data/nas/media

              # Database settings
              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_DBHOST: "paperless-postgres-rw.documents.svc.cluster.local"
              PAPERLESS_DBPORT: "5432"
              PAPERLESS_DBNAME: "paperless"
              PAPERLESS_DBUSER: "paperless"
              PAPERLESS_DBPASS:
                valueFrom:
                  secretKeyRef:
                    name: paperless-postgres-app
                    key: password

              # Configure folder importer
              PAPERLESS_CONSUMER_IGNORE_PATTERNS: '[".DS_STORE/*", "._*", ".stfolder/*", "@eaDir/*"]'
              PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: true
              PAPERLESS_CONSUMER_RECURSIVE: true
              PAPERLESS_CONSUMER_POLLING: 60

              PAPERLESS_ENABLE_FLOWER: 1

              # Configure OCR
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_OCR_USER_ARGS: '{"optimize": 1, "pdfa_image_compression": "lossless"}'

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 25m
                memory: 1Gi
              limits:
                memory: 6Gi

          gotenberg:
            image:
              repository: gotenberg/gotenberg
              tag: 8.24.0
              pullPolicy: IfNotPresent
            env:
              - {name: DISABLE_GOOGLE_CHROME, value: '1'}

          tika:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0-full@sha256:21d8052de04e491ccf66e8680ade4da6f3d453a56d59f740b4167e54167219b7
              pullPolicy: IfNotPresent

    service:
      app:
        forceRename: *app
        primary: true
        controller: *app
        ports:
          http:
            port: *port

    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: ceph-block
        advancedMounts:
          paperless:
            app:
              - path: /data/local

      nas:
        existingClaim: nfs-apps-paperless-pvc
        advancedMounts:
          paperless:
            app:
              - path: /data/nas

    route:
      app:
        hostnames:
          - paperless.${SECRET_DOMAIN}
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
