---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - ./cluster.yaml
  - ./externalsecret.yaml
  - ./objectstore.yaml
  - ./scheduledbackup.yaml

configMapGenerator:
  - name: postgres-defaults
    literals:
      - POSTGRES_VERSION=18.0
      - POSTGRES_INSTANCES=2
      - POSTGRES_STORAGE_SIZE=10Gi
      - POSTGRES_STORAGE_CLASS=ceph-block
      - POSTGRES_CPU_REQUEST=250m
      - POSTGRES_MEMORY_REQUEST=1Gi
      - POSTGRES_CPU_LIMIT=2
      - POSTGRES_MEMORY_LIMIT=2Gi
      - POSTGRES_BACKUP_SCHEDULE=0 2 * * *
      - POSTGRES_BACKUP_RETENTION=20d
      - POSTGRES_BACKUP_ENDPOINT=http://minio.storage.svc.cluster.local:9000
