---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app k8tz
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
    namespace: flux-system

  values:
    namespace: system
    replicaCount: 3

    timezone: "${TIMEZONE}"
    cronJobTimeZone: true

    webhook:
      certManager:
        enabled: true
        issuerRef:
          name: k8tz-webhook-issuer
          kind: Issuer

    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
              topologyKey: kubernetes.io/hostname

  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Namespace
            patch: |-
              $patch: delete
              apiVersion: v1
              kind: Namespace
              metadata:
                name: _
