---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    controllers:
      pgadmin:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: docker.io/dpage/pgadmin4
              tag: 9.10@sha256:8c128407f45f1c582eda69e71da1a393237388469052e3cc1e6ae4a475e12b70
            envFrom:
              - secretRef:
                  name: pgadmin-secret
            env:
              PGADMIN_LISTEN_PORT: &port 80

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: &path /misc/ping
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: *path
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 5
                  timeoutSeconds: 5
                  failureThreshold: 30

            resources:
              requests:
                cpu: 50m
                memory: 512M
              limits:
                cpu: 500m
                memory: 1024M

        pod:
          securityContext:
            runAsUser: 5050
            runAsGroup: 5050
            fsGroup: 5050
            fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    # ingress:
    #   app:
    #     enabled: true
    #     className: internal
    #     annotations:
    #       gethomepage.dev/enabled: "true"
    #       gethomepage.dev/group: Services
    #       gethomepage.dev/name: *app
    #       gethomepage.dev/icon: si-postgresql
    #     hosts:
    #       - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
    #         paths:
    #           - path: /
    #             service:
    #               identifier: app
    #               port: http

    persistence:
      config:
        type: persistentVolumeClaim
        size: "${VOLSYNC_CAPACITY}"
        storageClass: "${VOLSYNC_STORAGECLASS}"
        accessMode: "${VOLSYNC_ACCESSMODES}"
        globalMounts:
          - path: /var/lib/pgadmin
      sessions:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /var/lib/pgadmin/sessions
