# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret rreading-glasses-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: openbao-cluster-secretstore
  target:
    name: *secret
    creationPolicy: Owner
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        HARDCOVER_API_KEY: "{{ .hardcover_api_key }}"
        INIT_POSTGRES_DBNAME: rreading_glasses
        INIT_POSTGRES_HOST: postgres-rw.storage.svc.cluster.local
        INIT_POSTGRES_USER: "rreading_glasses"
        INIT_POSTGRES_PASS: "{{ .db_password }}"

  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: password32
      rewrite:
        - regexp:
            source: "password"
            target: "db_password"

  data:
    - secretKey: hardcover_api_key
      remoteRef:
        key: downloads/rreading-glasses/config
        property: api_key
