---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openbao
  namespace: external-secrets
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: openbao
      version: 0.25.5
      sourceRef:
        kind: HelmRepository
        name: openbao
        namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  values:
    global:
      enabled: true
      tlsDisable: true

    server:
      enabled: true
      image:
        registry: quay.io
        repository: openbao/openbao
        tag: 2.5.1@sha256:87d715029a47328172774638cabfeb04d5b356678d660621b796b6a671f93581

      updateStrategy: RollingUpdate
      logLevel: "info"
      logFormat: "json"

      extraLabels:
        reloader.stakater.com/auto: "true"

      ha:
        enabled: true
        replicas: 3
        raft:
          enabled: true
          setNodeId: true
          config: |
            ui = true
            disable_mlock = true

            listener "tcp" {
              tls_disable = 1
              address = "[::]:8200"
              cluster_address = "[::]:8201"

              telemetry {
                unauthenticated_metrics_access = "true"
              }
            }

            storage "raft" {
              path = "/openbao/data"
            }

            seal "gcpckms" {
              project     = "shiftx-399401"
              region      = "us-west1"
              key_ring    = "openbao-unseal"
              crypto_key  = "openbao-key"
              credentials = "/openbao/userconfig/openbao-gcp-kms/credentials.json"
            }

            service_registration "kubernetes" {}

      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 1Gi

      dataStorage:
        enabled: true
        size: 10Gi
        storageClass: ceph-block
        accessMode: ReadWriteOnce
      auditStorage:
        enabled: true
        size: 2Gi
        storageClass: ceph-block
        accessMode: ReadWriteOnce

      service:
        enabled: true
        type: ClusterIP
        # appProtocol: https
        port: 8200
        targetPort: 8200

      securityContext:
        runAsNonRoot: true
        runAsGroup: 1000
        runAsUser: 100
        fsGroup: 1000

      extraVolumes:
        - type: secret
          name: openbao-tls
          mountPath: "/openbao/userconfig/openbao-tls"
        - type: secret
          name: openbao-gcp-kms
          mountPath: "/openbao/userconfig/gcp-kms"

      serviceAccount:
        create: true
        name: openbao
        annotations: {}

    ui:
      enabled: true
      serviceType: ClusterIP
      publishNotReadyAddresses: true
      activeVaultPodOnly: true

    injector:
      enabled: true
