---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lidarr
spec:
  interval: 1h
  maxHistory: 2
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  values:
    defaultPodOptions:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      lidarr:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/lidarr
              tag: 3.1.2.4902@sha256:91b053243e34dd405456c9269692195f2c524c4eaa8884d5cfd670449fe584aa

            env:
              LIDARR__APP__INSTANCENAME: Lidarr
              LIDARR__AUTH__METHOD: External
              LIDARR__AUTH__REQUIRED: DisabledForLocalAddresses
              LIDARR__LOG__ANALYTICSENABLED: "False"
              LIDARR__LOG__DBENABLED: "False"
              LIDARR__SERVER__PORT: &port 8686
              LIDARR__LOG_LEVEL: info
              LIDARR__APP__THEME: dark

              LIDARR__POSTGRES__HOST: lidarr-postgres-rw.downloads.svc.cluster.local
              LIDARR__POSTGRES__PORT:
                valueFrom:
                  secretKeyRef:
                    name: lidarr-postgres-app
                    key: port
              LIDARR__POSTGRES__MAINDB:
                valueFrom:
                  secretKeyRef:
                    name: lidarr-postgres-app
                    key: dbname
              LIDARR__POSTGRES__USER:
                valueFrom:
                  secretKeyRef:
                    name: lidarr-postgres-app
                    key: username
              LIDARR__POSTGRES__PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: lidarr-postgres-app
                    key: password

            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}-config"

      tmp:
        type: emptyDir
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs

      media:
        type: nfs
        path: "/mnt/${SECRET_NFS_SHARE}/media"
        server: "${SECRET_NFS_SERVER}"
        globalMounts:
          - path: /data/media

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
