---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app apprise
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph

  values:
    controllers:
      apprise:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/caronc/apprise
              tag: v1.3.1@sha256:6b112f8f174244f4a73b8e1254c9bde1fa562a6a428010aeaff1c18bc98d2713

            env:
              TZ: "${TIMEZONE}"
              APPRISE_DEFAULT_THEME: dark
              APPRISE_STATEFUL_MODE: simple
              APPRISE_WORKER_COUNT: 4
              IPV4_ONLY: true
              BASE_URL: "https://{{ .Release.Name }}.${SECRET_DOMAIN}"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8000

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
        advancedMounts:
          apprise:
            app:
              - path: /config
                subPath: config
              - path: /plugin
                subPath: plugin
      tmpfs:
        type: emptyDir
        advancedMounts:
          apprise:
            app:
              - path: /attach
                subPath: attach
              - path: /tmp
                subPath: tmp
