---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app navidrome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    defaultPodOptions:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001

    controllers:
      navidrome:
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.58.0@sha256:2ae037d464de9f802d047165a13b1c9dc2bdbb14920a317ae4aef1233adc0a3c

            env:
              TZ: "${TIMEZONE}"
              ND_DATAFOLDER: /config
              ND_ENABLEGRAVATAR: "true"
              ND_ENABLEINSIGHTSCOLLECTOR: "false"
              ND_LOGLEVEL: info
              ND_MUSICFOLDER: /music/flac
              ND_PORT: &port 8080
              ND_PROMETHEUS_ENABLED: "true"
              ND_REVERSEPROXYUSERHEADER: Remote-User
              ND_REVERSEPROXYWHITELIST: 0.0.0.0/0
              ND_SCANSCHEDULE: "@every 1h"
              ND_SESSIONTIMEOUT: 24h

            resources:
              requests:
                cpu: 10m
                memory: 250Mi
              limits:
                memory: 750Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    persistence:
      config:
        enabled: true
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /config

      music:
        type: nfs
        path: "/mnt/${SECRET_NFS_SHARE}/media"
        server: "${SECRET_NFS_SERVER}"
        globalMounts:
          - path: /music/mp3
            subPath: mp3
            readOnly: true
          - path: /music/flac
            subPath: flac
            readOnly: true

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
